services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      PORT: 4000
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/appdb?schema=public"
    ports:
      - "4000:4000"
    command: bash ./scripts/wait-for-db.sh
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

  frontend:
    build: ../FrontendBodyTrack
    depends_on:
      - app
    environment:
      VITE_API_URL: http://localhost:4000
    ports:
      - "5173:5173"
    volumes:
      - ../FrontendBodyTrack:/app
      - /app/node_modules
    stdin_open: true
    tty: true

volumes:
  db_data:
